body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents scrolling */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: absolute;
    width: 99%;
    z-index: 10;
}

header .site-logo {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #007bff;
    color: white;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/VisonVista.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.7);
}


.login-container{
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

h1 {
    margin-bottom: 1rem;
    font-size: 24px;
}

p {
    margin: 0.5rem 0;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s;
}

button.google {
    background-color: #db4437;
    color: white;
}

button.facebook {
    background-color: #4267B2;
    color: white;
}

button.apple {
    background-color: #333333;
    color: white;
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05);
}

@keyframes buttonAnimation {
    0% {
        transform: scale(1);
        background-color: #16afec;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    50% {
        transform: scale(1.2);
        background-color: #5a5ae2;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
    100% {
        transform: scale(1);
        background-color: #699ff7;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

form input[type="submit"] {
    animation: buttonAnimation 2s infinite;
    transition: transform 0.2s;
}

form input[type="submit"]:hover {
    background-color: #feb47b;
    transform: scale(1.2);
}

/* Responsive design for mobile devices */
@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 10px;
    }
}
